SECRET_KEY=YOUR-SECRET-KEY
DEBUG=TRUE-OR-FALSE
ALLOWED_HOSTS=62.84.120.41,localhost,127.0.0.1

DB_NAME=YOUR-DB-NAME
DB_USER=YOUR-DB-USER
DB_PASSWORD=YOUR-DB-PASSWORD
DB_HOST=YOUR-DB-HOST
DB_PORT=YOUR-DB-PORT

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

DATABASE_URL=postgres://DB_USER:DB_PASSWORD@DB_HOST/DB_NAME

DOCKERHUB_USERNAME=YOUR-DOCKERHUB-USERNAME
IMAGE_TAG=DOCKERHUB_USERNAME/personal_diary:latest
